* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
  }

  html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    font-family: Outfit;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}